# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular-client/dist
/angular-client/tmp
/angular-client/out-tsc
# Only exists if Bazel was run
/angular-client/bazel-out

# dependencies
node_modules

# profiling files
/angular-client/chrome-profiler-events*.json
/angular-client/speed-measure-plugin*.json


# System Files
.DS_Store
Thumbs.db
